{% extends "base-template.html" %}

{% block content %}

    <div class="columns is-multiline is-mobile top_margin_20px">

        <div class="column has-text-centered">
            <figure class="image is-128x128 image-cropper">
                <img src="{{ url_for('static', filename='images/meal-course-types/appetizer.png') }}" alt="">
            </figure>
            <label class="label">Appetizer</label>
        </div>

        <div class="column has-text-centered">
            <figure class="image is-128x128 image-cropper">
                <img src="{{ url_for('static', filename='images/meal-course-types/breakfast-brunch.png') }}" alt="">
            </figure>
            <label class="label">Breakfast &amp; Brunch</label>
        </div>

        <div class="column has-text-centered ">
            <figure class="image is-128x128 image-cropper">
                <img src="{{ url_for('static', filename='images/meal-course-types/chicken.png') }}" alt="">
            </figure>
            <label class="label">Chicken</label>
        </div>

        <div class="column has-text-centered">
            <figure class="image is-128x128 image-cropper">
                <img src="{{ url_for('static', filename='images/meal-course-types/dessert.png') }}" alt="">
            </figure>
            <label class="label">Dessert</label>
        </div>

        <div class="column has-text-centered">
            <figure class="image is-128x128 image-cropper">
                <img src="{{ url_for('static', filename='images/meal-course-types/healthy.png') }}" alt="">
            </figure>
            <label class="label">Healthy</label>
        </div>

        <div class="column has-text-centered">
            <figure class="image is-128x128 image-cropper">
                <img src="{{ url_for('static', filename='images/meal-course-types/holidays-events.png') }}" alt="">
            </figure>
            <label class="label">Holidays &amp; Events</label>
        </div>

        <div class="column has-text-centered">
            <figure class="image is-128x128 image-cropper">
                <img src="{{ url_for('static', filename='images/meal-course-types/main-dish.png') }}" alt="">
            </figure>
            <label class="label">Main Dish</label>
        </div>

        <div class="column has-text-centered">
            <figure class="image is-128x128 image-cropper">
                <img src="{{ url_for('static', filename='images/meal-course-types/quick-easy.png') }}" alt="">
            </figure>
            <label class="label">Quick &amp; Easy</label>
        </div>

        <div class="column has-text-centered">
            <figure class="image is-128x128 image-cropper">
                <img src="{{ url_for('static', filename='images/meal-course-types/slow-cooker.png') }}" alt="">
            </figure>
            <label class="label">Slow Cooker</label>
        </div>

        <div class="column has-text-centered">
            <figure class="image is-128x128 image-cropper">
                <img src="{{ url_for('static', filename='images/meal-course-types/vegetarian.png') }}" alt="">
            </figure>
            <label class="label">Vegetarian</label>
        </div>

        <div class="column has-text-centered">
            <figure class="image is-128x128 image-cropper">
                <img src="{{ url_for('static', filename='images/meal-course-types/meat-poultry.png') }}" alt="">
            </figure>
            <label class="label">Meat &amp; Poultry</label>
        </div>

        <div class="column has-text-centered">
            <figure class="image is-128x128 image-cropper">
                <img src="{{ url_for('static', filename='images/meal-course-types/seafood.png') }}" alt="">
            </figure>
            <label class="label">Seafood</label>
        </div>
    </div>

{% endblock %}