{% block content %}

    {% if form %}

    <div class="modal">
        <div class="modal-background" onclick="$('div.modal').toggleClass('is-active');"></div>
            <div class="modal-container">
                <div class="modal-card">
                    <!-- Any other Bulma elements you want -->
                    <section class="modal-card-body">
                        <h3 class="title is-3">Sign In</h3>
                        <form action="/login" method="post" name="login">

                            {{ form.hidden_tag() }}

                            <label class="label">User Name</label>
                            <p class="control">
                                {{ form.username(size=20, class="input") }}<br>
                            </p>

                            <label class="label">Password</label>
                            <p class="control">
                                {{ form.password(size=20, class="input") }}<br>
                            </p>

                            <p>{{ form.remember_me }} Remember Me</p>

                            <p class="control">
                                <input type="submit" value="Sign In" class="button is-dark" />
                                <a class="button is-link"
                                   onclick="$('div.modal').toggleClass('is-active');">Cancel</a>
                            </p>

                        </form>
                    </section>
                </div>
            </div>
        <button class="modal-close" onclick="$('div.modal').toggleClass('is-active');"></button>
    </div>

    {% endif %}

{% endblock %}
