{% extends "index.html" %}

{% block content %}

    <!--  Recipe display area. Is the right 3/4 of the screen -->
    <div class="column">

        <h3 class="title is-3 recipe_title">{{ recipe.name }}</h3>

        <div class="columns">
            <div class="column is-one-third">

                <!--  Recipe ingredients -->
                <h5 class="title is-5">Ingredients</h5>
                <ul>
                    {% for ingredient in recipe.ingredients %}
                    <div class="columns">
                        <div class="column ingredient_column">
                            <span class="icon" style="float: left">
                                <i class="fa fa-check"></i>
                            </span>
                            <li>{{ ingredient }}</li>
                        </div>
                    </div>
                    {% endfor %}
                </ul>
            </div>

            <div class="column">
                <!-- Recipe image -->
                {% if recipe.img_src is defined %}
                    <img src={{ recipe.img_src }}>
                {% endif %}

                <!-- Recipe directions -->
                <h3 class="title is-3">Directions</h3>
                {% for direction in recipe.directions %}
                    <p class="directions_steps">{{ direction|safe }}</p>
                {% endfor %}

            </div>
        </div>
    </div>

{% endblock %}
